[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"jinja2" = "*"
pyyaml = "*"
weasyprint ="*"

[dev-packages]
mypy = "*"
black = "*"
pylint = "*"

[pipenv]
allow_prereleases = true
