<!doctype html>

<html lang='en'>

<head>
    <meta charset='utf-8'>

    <title>Career Cup Resume Template</title>
    <meta name='description' content='Career Cup Resume Template'>
    <meta name='author' content='Arash Outadi'>

    <link rel='stylesheet' href='styles.css'>
</head>

<body>
    <div id='resume'>
        <div id='contact' class='section'>
            <table>
                <tr>
                    <td class="left">{{basics.location.city}}, {{basics.location.countryCode}}</td>
                    <td class="center title" rowspan="2">{{basics.name}}</td>
                    <td class="right">{{basics.email}}</td>
                </tr>
            </table>
        </div>
    </div>
    <div id='employment' class='section'>
        <p class="subtitle">Experience</p>
        <table>
            <hr> {% for experience in work %}

            <tr>
                <th class="left">{{experience.position}}</th>
                <th class="center">{{experience.company}}</th>
                {% if experience.endDate is not none %}
                <th class="right">{{experience.startDate | dateformat}} - {{experience.endDate | dateformat}}</th>
                {% else %}
                <th class="right">{{experience.startDate | dateformat}} - Present</th>
                {% endif %}
            </tr>
            <tr>
                <td colspan="3">
                    <ul>
                        {% for highlight in experience.highlights%}
                        <li>{{highlight}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>

            {% endfor %}
        </table>
    </div>
    <div id='education' class='section'>
        <h2 class="subtitle">Education</h2>
        <hr> {% for credential in education %}
        <table>
            <tr>
                <th class="left">{{credential.location.city}}, {{credential.location.regionCode}}</th>
                <th class="center">{{credential.institution}}</th>
                <th class="right">{{credential.startDate | dateformat}} - {{credential.endDate | dateformat}}</th>
        </table>
        <ul>
            <li>{{credential.studyType}} in {{credential.area}}&nbsp;{%- if credential.gpa != '' -%}GPA: {{credential.gpa}}{% endif %}</li>
        </ul>
        {% endfor %}
    </div>
    <div id='projects' class='section'>
        <h2 class="subtitle">Projects</h2>
        <hr>
        <div>
            <ul>
                {% for project in projects %}
                <li><b>{{project.name}}</b>&nbsp;
                    {% if project.source is defined %}<a href="{{project.source}}">(Github){% endif %}</a>
                    <i>{% for tech in project.technologies %}{{tech}}, {% endfor %}</i><br>
                    {{project.summary}}<br> 
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% if settings.includeSkills == 'True' %}
    <div id='skills' class='section'>
        <h2 class="subtitle">Languages and Technologies</h2>
        <hr>
        <ul>
        {% for skill in skills %}
        <li>{{skill.name}}: {{ skill.keywords|join(', ') }}</li>  
        {% endfor %}
        </ul>
    </div>
    {% endif %}
</body>

</html>
