$pageWidth: 9in;
$pageMargins: 0.0in 0.10in 0in 0.3in;
$rootFontSize: 15pt;
html {
    font-size: $rootFontSize;
    font-family: Arial;
}

body {
    width: $pageWidth;
    padding: $pageMargins;
}

hr {
    margin: 0px 0px 5px;
    background-color: black;
    height: 1px;
    noshade: disabled;
}

p {
    margin-top: 5px;
    margin-bottom: 10px;
}

table {
    width: 100%;
}
th {
    white-space: nowrap;
}
.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}

.title {
    font-size: 2.5rem;
    font-weight: normal;
    margin: auto;
}

.section {
    margin-bottom: 15px;
}

.subtitle {
    margin: 0px;
    font-size: 1.25rem;
    font-weight: bold;
}

ul {
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    margin: 5px 0px 5px;
}

th {
    width: $pageWidth/3;
}

.marginless {
    margin: 0px;
}
#projects > div > ul > li {
    margin: 9px 0px 9px;
}
.tech {
    margin-left: 25px;
}