html {
  font-size: 15pt;
  font-family: Arial; }

body {
  width: 8.5in;
  padding: 0in 0.25in 0in 0.25in; }

hr {
  margin: 0px 0px 5px;
  background-color: black;
  height: 1px;
  noshade: disabled; }

table {
  width: 100%; }

th {
  white-space: nowrap; }

.left {
  text-align: left; }

.right {
  text-align: right; }

.center {
  text-align: center; }

.title {
  font-size: 2.5rem;
  font-weight: normal;
  margin: auto; }

.section {
  margin-bottom: 15px; }

.subtitle {
  margin: 0px;
  font-size: 1.25rem;
  font-weight: bold; }

ul {
  margin-top: 0px; }

li {
  margin: 5px 0px 5px; }

th {
  width: 2.8333333333in; }

.marginless {
  margin: 0px; }

#projects > div > ul > li {
  margin: 9px 0px 9px; }
